body{
    font-family: 'Oswald', sans-serif;

}
.name-highlight{
    font-size: 35px;
    color:rgb(156, 13, 122) ;

}
p{
    color: rgb(68, 66, 63);
}
.half-width{
    width: 20%;
    margin-left: 15%;
    padding-left: 1%;
    float: left;
}
.half-width img{
    width: 100%;
}
.button-link{
    text-decoration: none;
    background-image: linear-gradient(180deg, rgb(235, 14, 132), tomato);
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

section{
    height: 600px;
}
.biography-area{
    background-image: url("images/biography-bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.center-text{
    text-align: center;
    font-size: 35px;
}
.work-pic{
    width: 28%;
    float: left;
    margin: 0.5%;
    padding-left: 3%;
}
.work-pic img{
    width: 100%;
}
.finishing-work{
    background-image: url(images/footer-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
   
}
h1{
    font-size: 30px;
}

.second-chenter-text{
    text-align: center;
    font-size: 15px;
}
.bold-text{
    text-align: center;
    font-size: 18px;
    color: rgb(84, 78, 78);
}
.center-position{
    width: 30%;
    margin-left: 35%;
}
.gmail-link{
    text-decoration: none;
    color: white;
}

.last-work{
    border-left: 7px solid;
    background-image: linear-gradient(180deg, rgb(232, 14, 79), rgb(243, 21, 165));
    padding: 5px 35px;
    border-radius: 10px;
    color: rgb(253, 252, 250);
    font-size: 700;
    text-align: center;
}
footer p{
    text-align: center;
    font-weight: 700;
}
.center-position{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
}